<div class="ui-g">
  <div class="ui-g-12">
    <h1>Cadastro venda</h1>
  </div>
</div>

<form autocomplete="off" #frm="ngForm" (ngSubmit)="adicionar(frm)">
  <div class="ui-g">
    <div class="ui-g-8 ui-sm-12 ui-fluid">
      <label>Cliente</label>
      <p-dropdown id="cliente" name="cliente" [autoWidth]="false" placeholder="Selecione..." [options]="clientes" optionLabel="nome"
        [(ngModel)]="venda.cliente" required></p-dropdown>
    </div>

    <div class="ui-g-4 ui-sm-12 ui-fluid">
      <label>Frete</label>
      <input pInputText id="frete" name="frete" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
        [(ngModel)]="venda.frete" required (ngModelChange)="calcularTotal()" />
    </div>

    <div class="ui-g-12">
      <p-panel header="Itens">
        <div class="ui-g">
          <div class="ui-g-8 ui-sm-12 ui-fluid">
            <label>Produto</label>
            <p-dropdown id="produto" name="produto" [autoWidth]="false" placeholder="Selecione..." [options]="produtos" optionLabel="nome"
              [(ngModel)]="item.produto" #produto></p-dropdown>
          </div>
    
          <div class="ui-g-3 ui-sm-12 ui-fluid">
            <label>Quantidade</label>
            <input pInputText type="number" id="quantidade" name="quantidade" [(ngModel)]="item.quantidade" #quantidade/>
          </div>
    
          <div class="ui-g-1 ui-sm-4 ui-fluid">
            <br />
            <button pButton type="button" icon="pi pi-plus" (click)="incluirItem()" [disabled]="!produto.value || !quantidade.value"></button>
          </div>
    
          <div class="ui-g-12">
            <p-table [value]="venda.itens" responsive="true">
              <ng-template pTemplate="header">
                <tr>
                  <th>Produto</th>
                  <th>Valor unitário</th>
                  <th>Quantidade</th>
                  <th>Total</th>
                </tr>
              </ng-template>
    
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    <span class="ui-column-title">Produto</span>
                    {{ item.produto.nome }}
                  </td>
                  <td>
                    <span class="ui-column-title">Valor unitário</span>
                    {{ item.produto.valor | number:'1.2-2' }}
                  </td>
                  <td>
                    <span class="ui-column-title">Quantidade</span>
                    {{ item.quantidade }}
                  </td>
                  <td>
                    <span class="ui-column-title">Total</span>
                    {{ item.total | number:'1.2-2' }}
                  </td>
                </tr>
              </ng-template>
    
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">Nenhum item adicionado na venda.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-4 ui-g-offset-8 ui-fluid">
      <label>Total</label>
      <input pInputText readonly [value]="venda.total | number: '1.2-2'">
    </div>

    <div class="ui-g-4">
      <button pButton  icon="pi pi-check" label="Salvar"
      [disabled]="frm.invalid || venda.itens.lenght === 0"></button>
    </div>
  </div>
</form>